<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091805794952-udvph14oanigt0m9ct2tdb3d18kg380r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091805794952-udvph14oanigt0m9ct2tdb3d18kg380r</string>
	<key>API_KEY</key>
	<string>AIzaSyDGOaMD8OJA8YnzSRc3FBKrPY-RtbIc1DM</string>
	<key>GCM_SENDER_ID</key>
	<string>1091805794952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.survey</string>
	<key>PROJECT_ID</key>
	<string>miniprojet-830fd</string>
	<key>STORAGE_BUCKET</key>
	<string>miniprojet-830fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091805794952:ios:a472374d5af3c2c6a8c53d</string>
</dict>
</plist>